@import "compass";

// Typo Settings
// $font-family: Palatino, "Palatino Linotype", "Book Antiqua", Georgia, serif;
$font-family: "freight-text-pro-1", "freight-text-pro-2", Palatino, "Palatino Linotype", "Book Antiqua", Georgia, serif;
$base-font-size: 20px;
$base-line-height: 1.5 * $base-font-size;
$max-line-length: 31em;

// Colors
$body-background: #fdfcff;
//$body-background: #ffffff;
$darker-background: #f0f0f3;
$color: #111126;
